<%- include('templates/header')%>
    <h1 class="text-center"><%= titulo %></h1>
    <div class="container">
        <% if (arrayMascotas.length > 0) { %>
         <% arrayMascotas.forEach(element => { %>
            <div class="card text-center my-5 bg-dark text-white">
                <div class="card-header">
                    <%= element.name %>
                </div>
                <div class="card-body">
                    <p class="card-text"><%= element.description %></p>
                    <hr class="bg-white w-50">
                    <div class="d-flex justify-content-around">
                        <a href="/" class="btn btn-primary">Inicio</a>
                        <a href="#" class="btn btn-warning">Editar</a>
                        <a href="#" class="btn btn-danger">Eliminar</a>
                    </div>
                </div>
                <div class="card-footer text-muted text-white">
                    2 days ago
                </div>
            </div>
         <% }) %>
        <% } %>
    </div>
<%- include('templates/footer')%>